test-rebinning-all.sh
test-rebinning-all.py
test-averaging-all.py
test-averaging-all.sh
combine_all_sps_diff_rav.py
sub-tests.sh
7.2

Parameter Optimization - Recent versions/
Python/lib/__pycache__/*
Python/lib/RDKit_Wrapper_backup.py