This is the COSMO_b3lyp_TZVP.config configuration template for NWChem_Wrapper.

This template performs:
	. Geometry optimization in vacuum
	. Geometry optimization in the COSMO solvation model

This template uses:
	. Def2-TZVP
	. b3lyp

The following sections of the input to NWChem are written by the wrapper:
  . start
  . charge

After these sections have been written, the wrapper copies everything below the following line:
-------78963b1b48f356a19a3bdc8650728784-------

memory total 4000 mb 

geometry noautosym noautoz
  load initialGeometry.xyz
end

#----------------------------------------------
# Quick Geometry Minimization in Vacuum
#----------------------------------------------

basis noprint
  * library def2-svp
end

scf
  print low
  maxiter 10000
end

driver
  print low
  maxiter 10000
end

task scf optimize

#----------------------------------------------
# Geometry Optimization in Vacuum
#----------------------------------------------

basis noprint
  * library Def2-TZVP
end

dft
  xc b3lyp
  disp vdw 3
  maxiter 10000
end

task dft optimize

#----------------------------------------------
# Geometry Optimization with Solvation Model
#----------------------------------------------

cosmo
  iscren -1 # Surrogate for infinite permittivity
  lineq 1   # Iterative numerical algorithm
  ificos 0  # Initial tessellation polyhedron (0 - octa | 1 - icosa)
  minbem 3  # Number of tessellation passes
  do_gasphase false # Do not perform gasphase (o vacuum) calculations
  do_cosmo_ks true # COSMO model (ks or yk)
  print cosmo_mol_surface # Print segment areas (must be present)
end

task dft optimize
